<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="filePath">${bundle:application:log.file.path}</Property>
        <Property name="fileName">${bundle:application:log.file.name}</Property>
        <Property name="fileSize">${bundle:application:log.file.size}</Property>
        <Property name="rootLevel">${bundle:application:log.level}</Property>
    </Properties>
    <Appenders>
        <RollingFile name="file" fileName="${filePath}${fileName}.log"
            filePattern="${filePath}${fileName}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${sys:PID} --- [%t] %c{1}(%M:%L) : %m%n%wEx" />
            <Policies>
                <TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
                <SizeBasedTriggeringPolicy
                    size="${fileSize}" /> <!-- Or every 100 MB -->
            </Policies>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout
                pattern="%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint} %clr{%5p} %clr{${sys:PID}}{magenta} %clr{---}{faint} %clr{[%t]}{faint} %clr{%c{1}(%M:%L)}{cyan} %clr{:}{faint} %m%n%wEx" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.hibernate.validator.internal.util.Version"
            level="warn" />
        <Logger name="org.apache.coyote.http11.Http11NioProtocol"
            level="warn" />
        <Logger name="org.apache.tomcat.util.net.NioSelectorPool"
            level="warn" />
        <Logger name="org.apache.catalina.startup.DigesterFactory"
            level="error" />
        <Logger name="org.springframework.web" level="error" />

        <Root level="${rootLevel}">
            <AppenderRef ref="Console" />
            <AppenderRef ref="file" />
        </Root>
    </Loggers>
</Configuration>